*{
    font-size: 10px;
    text-decoration:dotted;
    font-weight: bold;
    border-color: green;
}
h3{
    text-align: center;
    font-size: bold;
    font-size: 20px;
    text-decoration: underline;
}
.registration{
    text-align:auto;
    padding-top: 10%;
    margin-left: 30%;
    padding-top: 5%;
    margin-right: 20%;
    padding-bottom: 3%;
    border-right-style:40%;
    border-style: dotted;
    border-right: 20%;

}
.mail{
    text-align:1%;
    margin-top:2%; 
    margin-left: 5%;  
}
.submit{
    margin-top: 2%;
    margin-left: 5%;
}
.phone{
    margin-top: 2%;
    margin-left: 5%;
}
#hash{
    color: blue;
    margin-left: 25%;
    
}
#p1{
    margin-left: 2%;
}
.lname{
    margin-left: 2%;
}
.container-class{
    margin-left: 5%;
}